/********** CLASSES **********/
.hidden {
  display: none;
}

.category {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 25px;
  border-style: solid;
}

.mainFooter {
  text-align: center;
  margin-top: 100px;
}

/********** ELEMENTS **********/

form {
  text-align: right;
}

body {
  background-size: 100%;
  color: white;
  font-family: sans-serif;
}

header {
  text-align: right;
  text-decoration: none;
  margin-right: auto;
}

h1  {
  margin-top: 100px;
  font-size: 3em;
  text-align: center;
}

h5 {
  font-style: italic;
}

p {
  border: 1px solid white;
  padding: 25px;
  border-radius: 20px;
  border-width: 2px;
}

nav li{
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
  margin-right: 5%;
  text-decoration: none;
  color: skyblue;
}

footer {
  text-align: center;
}

/********** IMAGES **********/

img {
  max-width: 75%;
  margin: 0 auto;
  display: block;
}

/********** LINKS **********/

a:hover {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}